
        *{
            padding: 0;
            margin: 0;
            box-sizing: border-box;
            list-style: none;
            font-family: sans-serif;
        }
        nav a {
          
            text-decoration: none;
            color: blue;
        }
       
        html{
            font-size: 10px;
        }
        .navbar{
            background: #000;
          position: fixed;
          z-index: 11111;
            width: 95%;
            border-radius: 4rem;
            left: 50%;
           transform: translateX(-50%);
           margin-top: 0.8rem;
           top: 0;
        }
        header{
          display: flex;
         justify-content: space-between;
        
         flex-wrap: wrap;
         align-items: center;
  height: 70px;
max-width: 1200px;
padding-inline: 3rem;
padding-block: 1rem;

    }
   
    .logo-brand h1{
    font-size: 3rem;
    color: aqua;

    

    }
    ul{
        display: flex;
        justify-content: center;
        gap: 2.5rem;
        
       
    }
    ul > li >a{
        color:aqua;
        font-weight: 400;
        font-size: 1.8rem;
       
    }
    .hero-section{
width: 100%;
height: 100vh;
    }
    .hero-section .img{
        background: linear-gradient(rgba(0,0,0,0.5)),url(../images/hero.png);
        height: 100%;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        position: relative;
    }
  
 
.hero-des{
    margin-left: 40px;
    padding-top: 5rem;
}
.hero-des .main-heading{
      
  font-size:5rem;

  color: #fff;
padding-top: 100px;
text-shadow:  0px 0px 2rem rgb(0,0,0);
}
.hero-des .main-para
{
   
    font-size: 2.3rem;
    color: #ffff;
line-height: 1.3;
    margin-top: 20px;

}
.hero-btn {
    width: 40%;
   
  border: none;
  border-radius: 4px;
  font-size: 2rem;
  background: #000;
  height: 40px;
  border: 1px solid aqua;
  margin-top: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-btn a{
    text-decoration: none;
    color: aqua;
}
.product-heading{
    text-align: center;
    font-size: 5rem;
    text-transform: capitalize;
    color:#000000d8;
    margin-block: 2rem;

}
.product-section{
  margin-top: 20px;
}
/* Home Products */
    .home-products {
    border-radius: 0.7rem;
    padding: 1.2rem;

      width: 95%;

margin: auto ;

    }
    .home-products .row {
width: 100%;
display: flex;
justify-content: center;
flex-wrap: wrap;
gap: 25px;
margin-bottom: 25px;
    }
    .row .img-container{
        max-width: 400px;
        min-width: 300px;
        flex-grow: 1;
        border-radius: 20px;
        overflow: hidden;
        height: 200px;
        box-shadow: 0px 0px 10px rgb(105, 105, 105);
         
     
    }
    .row .img-container img{
           transition: all .3s ease;
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
  .row .img-container:hover img{
    scale: 1.1;

  }
.product-container{
    display: flex;
    justify-content: center;
gap: 2.5rem;
    flex-wrap: wrap;
    margin:30px auto;
    padding-inline: 1.5rem;
}
.card{
    width: 300px;
    box-shadow: 0px 0px 7px #0000007c;
    border-radius: 0.7rem;
    padding: 1rem;
    overflow: hidden;

}
.card img{
    width: 100%;
    height: 28rem;
    object-fit: cover;
        border-radius: 0.7rem;
}
.card-des{
    margin-top:1rem;
}
.card-des h3{
    font-size: 1.8rem;
}
.card-des p{
    font-size: 1.6rem;
    font-weight: 600;
    margin-block: 0.4rem;
opacity: 0.6;
    
}
.card-des .star-container{
    font-size: 1.7rem;
    color: #000000d0;
    margin-block: 0.4rem;
}
.card-des .stars{
    color: gold;
    
} 
.card-des .price{
    color: #000000f1;
    font-size: 1.8rem;
 
}
.btn-container{
  display: flex;
  gap: 5px;
}
.btn-container button {
    width: 100%;
    border: none;
     background: #000;
  color: aqua;
  height: 40px;
border-radius: 0.5rem;
font-size: 1.8rem;
margin-top: 1.5rem;
cursor: pointer;
}
.btn-container a{
   width: 100%;
}

/* footer */

.copy-right p{
    margin-top: 3rem;

color: #ffffff;
font-size: 1.5rem;
text-align: center;
padding: 2rem;
letter-spacing: 1px;
text-shadow: 0px 0px 10px #000;
background-color: #000;
width: 100%;
}



/* about */
.about-hero-section .img{
  background: linear-gradient(rgba(0,0,0,0.5)),url(../images/hero.png);

  height: 100vh;
  background-repeat: no-repeat;
  background-size: 100% 100%;
display: flex;
align-items: center;
justify-content: center;
}
.about-hero-section .img h1{
  font-size: 6rem;
  color: #fff;
  text-shadow: 0px 0px 10px #000;
}

.about-section{
  padding-inline: 2rem;
}
.about-section h2{
  font-size: 4rem;
  color: #000000e3;
  font-weight: bolder;


}
.about-section p{
  font-size: 2.2rem;
  opacity: 0.7;
line-height: 1.4;
margin-top: 0.5rem;
}
.about-section .main-heading{
  text-align: center;
    color:#000000c5;
    font-size: 5rem;
    margin-block: 1rem;
}


    /* contact */


@media (max-width:600px) {
  html{
    font-size: 0.5rem;
  }
  .navbar{
    border-radius: 4rem;
      width: 98%;
  }
  header{
    justify-content: center;
    gap: 0.8rem;

   
  }
    .hero-section{
      height: 400px;
    }
  
    .hero-des .main-heading{
      font-size: 3.5rem;
         padding-top: 7.5rem;
    }
    .hero-des .main-para{
      margin-top: 2rem;
      font-size: 2rem;

    }
    .hero-btn{
      margin-top: 2.5rem;
    }
    .about-hero-section .img{
      height: 400px;
    }
/* product */
.product-heading{
    font-size: 4.3rem;
}
}

/* profile card */
  
.profile-container{
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100vh;
   padding-inline: 15px;
   background-color: #f4f4f4;
}
.profile-error-msg{
   font-size: 30px;
   color: rgba(0,0,0,0.6);
   text-align: center;
}
.profile-card{
   max-width: 400px;
   width: 100%;
   border-radius: 5px;
   padding: 15px;
   box-shadow: 0 4px 10px rgba(0,0,0,0.1);
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 10px;
   background-color: white;
}
.profile-card .circle{
   width: 200px;
   height: 200px;
   border-radius: 50%;
   background-color:lightblue;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 30px;
   color: black;
}

.profile-card {
   font-size: 17px;
   font-weight: 600;
   color: rgba(0,0,0,0.8);
}
.logout-btn{
   width: 100%;
   height: 35px;
   background-color: black;
   color: white;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 4px;
   margin-top: 20px;
   cursor: pointer;
}
.logout-btn:hover{
   background-color: rgba(0, 0, 0, 0.963);
}
@media (max-width:600px) {
   .profile-error-msg{
   font-size: 25px;
  
}
}

/* checkout */
.checkout-container , .contact-section{
  font-family: sans-serif;
  margin: 0;
  background-color: #f4f4f4;
  padding: 20px;
  height: 100vh;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
}

 .form-container h1 {
  text-align: center;
  font-size: 30px;
  margin-bottom: 15px;
}

.form-container {
  background: #fff;
  padding: 20px;
  margin: auto;
  max-width: 400px;
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}
label{
  font-size: 15px;
margin-bottom: 4px;
display: block;
}
input {
  display: block;
  width: 100%;
margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button, .btn {
 background-color: black;
  color: aqua;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  margin-top: 10px;
  transition: all .3s ease;
}

.form-container button:hover, .form-container .btn:hover {
  background-color: rgba(0, 0, 0, 0.918);
}
.form-container .submit{
  font-size: 18px;
}
.para{
  font-size: 15px;
  color: rgba(0,0,0,0.8);
  font-weight: 400;
  margin-top: 7px;

}
.para a{
color: #138d86;
}